# SQL_TEST
Author : __Zehani Belkacem__ , __Dupont Nicolas__, __Gregoire Valerie__

In [1]:
import sys
from __future__ import unicode_literals
from __future__ import division
from __future__ import print_function

print("Hello world!")

Hello world!

In [1]:
# Lancer quand tu n'a pas install sql extention
!pip install ipython-sql

Collecting ipython-sql
  Downloading https://files.pythonhosted.org/packages/ab/df/427e7cf05ffc67e78672ad57dce2436c1e825129033effe6fcaf804d0c60/ipython_sql-0.3.9-py2.py3-none-any.whl
Requirement already satisfied: ipython>=1.0 in d:\programdata\anaconda3\lib\site-packages (from ipython-sql) (7.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in d:\programdata\anaconda3\lib\site-packages (from ipython-sql) (1.2.14)
Collecting sqlparse (from ipython-sql)
  Downloading https://files.pythonhosted.org/packages/65/85/20bdd72f4537cf2c4d5d005368d502b2f464ede22982e724a82c86268eda/sqlparse-0.2.4-py2.py3-none-any.whl
Collecting prettytable (from ipython-sql)
  Downloading https://files.pythonhosted.org/packages/ef/30/4b0746848746ed5941f052479e7c23d2b56d174b82f4fd34a25e389831f5/prettytable-0.7.2.tar.bz2
Requirement already satisfied: six in d:\programdata\anaconda3\lib\site-packages (from ipython-sql) (1.11.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in d:\programdata\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: pygments in d:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.2.0)
Requirement already satisfied: traitlets>=4.2 in d:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.3.2)
Requirement already satisfied: setuptools>=18.5 in d:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (40.6.2)
Requirement already satisfied: decorator in d:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.3.0)
Requirement already satisfied: jedi>=0.10 in d:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.13.1)
Requirement already satisfied: backcall in d:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: pickleshare in d:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: colorama; sys_platform == "win32" in d:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in d:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.0.7)
Requirement already satisfied: parso>=0.3.0 in d:\programdata\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.3.1)
Requirement already satisfied: wcwidth in d:\programdata\anaconda3\lib\site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.1.7)
Building wheels for collected packages: prettytable
  Running setup.py bdist_wheel for prettytable: started
  Running setup.py bdist_wheel for prettytable: finished with status 'done'
  Stored in directory: C:\Users\zhufa\AppData\Local\pip\Cache\wheels\80\34\1c\3967380d9676d162cb59513bd9dc862d0584e045a162095606
Successfully built prettytable
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.3.9 prettytable-0.7.2 sqlparse-0.2.4

In [2]:
%load_ext sql
%sql sqlite://

'Connected: @None'

We are going to create a table:

In [63]:
%%sql 
DROP TABLE IF EXISTS events;
CREATE TABLE events(Id_cookie VARCHAR, Id_action INT);
INSERT INTO events VALUES ('WANG HUAN', 4);
INSERT INTO events VALUES ('JIANG ZEMING', 4);
INSERT INTO events VALUES ('HEROE', 4);
INSERT INTO events VALUES ('Huan', 5);
INSERT INTO events VALUES ('HEROE', 4);
INSERT INTO events VALUES ('Hua8', 5);
INSERT INTO events VALUES ('HROE', 5);

DROP TABLE IF EXISTS ref_email;
CREATE TABLE ref_email(Id_cookie VARCHAR, email VARCHAR);
INSERT INTO ref_email VALUES ('WANG HUAN', "wanghuan@gmail.com");
INSERT INTO ref_email VALUES ('JIANG ZEMING', "jiangzeming@gmail.com");
INSERT INTO ref_email VALUES ('HEROE', "heroe@gmail.com");
INSERT INTO ref_email VALUES ('Huan', "hee@gmail.com");
INSERT INTO ref_email VALUES ('HEROE', "hoe@gmail.com");
INSERT INTO ref_email VALUES ('Huan', "huan@gmail.com");
INSERT INTO ref_email VALUES ('HROE', "her@gmail.com");

 * sqlite://
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

1) Give​ ​the​ ​number​ ​of​ ​unique​ ​id_cookie​ ​that​ ​have​ ​seen​ ​a​ ​displayed​ ​banner

In [85]:
%%sql 
SELECT COUNT(DISTINCT(Id_cookie)) AS uni_nb_id_cookie FROM events 
WHERE Id_action=5;

 * sqlite://
Done.

[(3,)]

2) Give​ ​the​ ​number​ ​of​ ​clicks​ ​and​ ​seen​ ​banners​ ​by​ ​id_cookie​ ​(in​ ​the​ ​same​ ​query)

In [65]:
%%sql 
SELECT SUM(Id_action=4) AS nb_clicks , SUM(Id_action=5) AS nb_display
FROM events;

 * sqlite://
Done.

[(4, 3)]

3) Give​ ​the​ ​number​ ​of​ ​unique​ ​id_cookies​ ​and​ ​the​ ​number​ ​of​ ​unique​ ​emails​ ​that​ ​have
made​ ​a​ ​click​ ​(in​ ​the​ ​same​ ​query)

In [58]:
%%sql
SELECT 
    COUNT(DISTINCT(events.Id_cookie)) as nb_unique_cookie,
    COUNT(DISTINCT(ref_email.email)) as nb_unique_email
FROM events
JOIN ref_email ON events.Id_cookie = ref_email.Id_cookie
WHERE events.Id_action = 4;

 * sqlite://
Done.

[(3, 4)]

4) Give​ ​the​ ​distribution​ ​of​ ​the​ ​number​ ​of​ ​clicks:
- a) Begin​ ​by​ ​giving​ ​the​ ​number​ ​of​ ​clicks​ ​by​ ​id_cookie

In [81]:
%%sql

SELECT Id_cookie,COUNT(Id_action) AS Nb_click
FROM events
WHERE Id_action = 4
GROUP BY Id_cookie

 * sqlite://
Done.

[('HEROE', 2), ('JIANG ZEMING', 1), ('WANG HUAN', 1)]

- b) From​ ​a)​ ​give​ ​the​ ​number​ ​of​ ​id_cookie​ ​by​ ​click​ ​numbers

In [83]:
%%sql
SELECT T.count as Nb_click, COUNT(Id_cookie) as Nb_id_cookie
FROM 
    (SELECT Id_cookie,COUNT(Id_action) AS count
    FROM events
    WHERE Id_action = 4
    GROUP BY Id_cookie) AS T
GROUP BY T.count

 * sqlite://
Done.

[(1, 2), (2, 1)]