# SD202 TP3 - Views, Updates and Database Design

The objectives for this TP are:

1. Create and use SQL Views
2. Update database content
3. Design the database schema for a Social Network


For the first 2 parts we will use the _wine_ database and the Tables created in TP2.

A reminder of the wine database schema:

+-----------------------------------------+
|                 Master1                 |
+-----------------------------------------+
| NV:      Wine number                    |
| CRU:     Vineyard or group of vineyards |
| DEGRE:   Alcohol content                |
| MILL:    Vintage year                   |
| QTE:     Number of bottles harvested    |
| NP:      Producer number                |
| NOM:     Producer's last name           |
| PRENOM:  Producer's first name          |
| REGION:  Wine growing region            |
+-----------------------------------------+

+-------------------------------------------------------------------+
|                              Master2                              |
+-------------------------------------------------------------------+
| NV:      Wine number                                              |
| CRU:     Vineyard or group of vineyards                           |
| DEGRE:   Alcohol content                                          |
| MILL:    Vintage year                                             |
| DATES:   Buying date                                              |
| LIEU:    Place where the wine was sold                            |
| QTE:     Number of bottles bought                                 |
| NB:      Client (buveur) number                                   |
| NON:     Client's last name                                       |
| PRENOM:  Client's first name                                      |
| TYPE:    Type of client by volume of purchases                    |
| REGION:  Administrative Region (different to wine growing region) |
+-------------------------------------------------------------------+

In [1]:
import sqlite3

In [2]:
def printSchema(connection):
    ### Source: http://stackoverflow.com/a/35092773/4765776
    for (tableName,) in connection.execute(
        """
        select NAME from SQLITE_MASTER where TYPE='table' order by NAME;
        """
    ):
        print("{}:".format(tableName))
        for (
            columnID, columnName, columnType,
            columnNotNull, columnDefault, columnPK,
        ) in connection.execute("pragma table_info('{}');".format(tableName)):
            print("  {id}: {name}({type}){null}{default}{pk}".format(
                id=columnID,
                name=columnName,
                type=columnType,
                null=" not null" if columnNotNull else "",
                default=" [{}]".format(columnDefault) if columnDefault else "",
                pk=" *{}".format(columnPK) if columnPK else "",
            ))

In [3]:
conn = sqlite3.connect('wine.db')
c = conn.cursor()
print("Database schema:")
printSchema(conn)

Database schema:
MASTER1:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: QTE(NUM)
  5: NP(NUM)
  6: NOM(TEXT)
  7: PRENOM(TEXT)
  8: REGION(TEXT)
MASTER2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: DATES(NUM)
  5: LIEU(TEXT)
  6: QTE(NUM)
  7: NB(NUM)
  8: NOM(TEXT)
  9: PRENOM(TEXT)
  10: TYPE(TEXT)
  11: REGION(TEXT)

Again, we recommend inline %sql as an alternative to the sqlite3 package

In [4]:
%load_ext sql
%sql sqlite:///wine.db

'Connected: None@wine.db'

Recreate the Tables in 3NF/BCNF from Master2 as you did in the TP2

Wine_sale: NV(KEY), CRU,MILL,DEGRE
Client: (NB,NOM)(KEY),PRENOM，TYPE
Lieu: LIEU(KEY), REGION
Quantity_sale：(NB, NV)(KEY), LIEU, DATES, QTE

In [5]:
%%sql
DROP TABLE IF EXISTS wine_sale ;
CREATE TABLE wine_sale AS SELECT DISTINCT NV, CRU, MILL, DEGRE FROM MASTER2;

DROP TABLE IF EXISTS client;
CREATE TABLE client AS SELECT DISTINCT NB, NOM, PRENOM, TYPE FROM MASTER2;

DROP TABLE IF EXISTS lieu;
CREATE TABLE lieu AS SELECT DISTINCT LIEU, REGION FROM MASTER2;

DROP TABLE IF EXISTS quantity_sale ;
CREATE TABLE quantity_sale AS SELECT DISTINCT NB, NV, LIEU, DATES, QTE FROM MASTER2;

Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

___
# PART I: CREATE AND USE VIEWS

A view is a virtual table based on the result-set of an SQL statement. Views are stored in the database with an associated name.

Views are created following the syntax:

```sql
CREATE VIEW view_name AS
SELECT column1, column2.....
FROM table_name
WHERE [condition];
```

An useful command is:

```sql
DROP VIEW IF EXISTS view_name;
```


__Note:__ Use it with caution (only drop something if you are sure)

__1.1__ Create a view 'bons_buveurs' with the clients (buveurs) of type 'gros' or 'moyen'.

In [6]:
%%sql
DROP VIEW IF EXISTS bons_buveurs;
CREATE VIEW bons_buveurs AS
SELECT NB, NOM, PRENOM, TYPE
FROM CLIENT
WHERE TYPE = 'gros' OR TYPE = 'moyen';

Done.
Done.

[]

In [7]:
# Test
%sql SELECT * FROM bons_buveurs ORDER BY nb;

Done.

[(2, 'Artaud', 'Antonin', 'moyen'),
 (3, 'Aron', 'Raymond', 'gros'),
 (4, 'Apollinaire', 'Guillaume', 'moyen'),
 (6, 'Arrabal', 'Fernando', 'gros'),
 (7, 'Anouilh', 'Jean', 'moyen'),
 (8, 'Aragon', 'Louis', 'gros'),
 (10, 'Andersen', 'Yann', 'gros'),
 (12, 'Bataille', 'Georges', 'moyen'),
 (13, 'Barthes', 'Roland', 'moyen'),
 (14, 'Bory', 'Jean Louis', 'gros'),
 (16, 'Balzac', 'Honore de', 'moyen'),
 (18, 'Celine', 'Louis Ferdinand', 'gros'),
 (19, 'Ciceron', None, 'gros'),
 (20, 'Chateaubriand', 'Francois-Rene de', 'moyen'),
 (22, 'Cocteau', 'Jean', 'gros'),
 (24, 'Courrier', 'Paul Louis', 'moyen'),
 (26, 'Diderot', 'Denis', 'moyen'),
 (27, 'Dumas', 'Alexandre', 'gros'),
 (28, 'Dostoievsky', 'Fiodor', 'gros'),
 (31, 'Dante', None, 'gros'),
 (32, 'Eluard', 'Paul', 'moyen'),
 (33, 'Flaubert', 'Gustave', 'moyen'),
 (35, 'Fromentin', 'Eugene', 'gros'),
 (39, 'Montesquieu', None, 'gros'),
 (42, 'Goethe', 'Johann Wolfgang von', 'moyen'),
 (43, 'Musset', 'Alfred de', 'gros'),
 (46, 'Hugo', 'Victor', 'moyen'),
 (48, 'Hardy', 'Thomas', 'moyen'),
 (50, 'Lautreamont', None, 'moyen'),
 (53, 'Lamartine', 'Alphonse de', 'gros'),
 (55, 'Michelet', 'Jules', 'gros'),
 (57, 'Marx', 'Karl', 'gros'),
 (58, 'Marivaux', 'Pierre Carlet de Chamblain de', 'gros'),
 (60, 'Ovide', None, 'gros'),
 (62, 'Proust', 'Marcel', 'moyen'),
 (64, 'Platon', None, 'gros'),
 (66, 'Perec', 'Georges', 'gros'),
 (68, 'Prevert', 'Jacques', 'gros'),
 (70, 'Paulhan', 'Jean', 'gros'),
 (72, 'Rabelais', 'Francois', 'gros'),
 (73, 'Poe', 'Allan Edgard', 'moyen'),
 (75, 'Ronsard', 'Pierre', 'moyen'),
 (76, 'Racine', 'Jean', 'gros'),
 (78, 'Sandier', 'Jules', 'moyen'),
 (79, 'Sade', 'Donatien Alphonse Fran¿¿s de', 'gros'),
 (81, 'Sartre', 'Jean-Paul', 'gros'),
 (83, 'Sophocle', None, 'gros'),
 (84, 'Sue', 'Eugene', 'moyen'),
 (86, 'Saint Exupery', 'Antoine de', 'gros'),
 (87, 'Segur', 'Comtesse de', 'gros'),
 (91, 'Verlaine', 'Paul', 'gros'),
 (93, 'Virgile', None, 'gros'),
 (94, 'Zola', 'Emile', 'moyen'),
 (95, 'Zorn', 'Fritz', 'moyen'),
 (98, 'Maturin', 'Robert', 'gros'),
 (99, 'Cesar', 'Jules', 'gros')]

__1.2__ Create the view 'buveurs_asec' with clients (buveurs) who have not bought any wine.

In [8]:
%%sql
DROP VIEW IF EXISTS BUVEURS_ASEC;
CREATE VIEW buveurs_asec AS
SELECT c.nb, C.nom, C.prenom, C.type 
FROM client AS C
WHERE NB NOT NULL AND NOT EXISTS(
    SELECT client.nb
    FROM (client INNER JOIN quantity_sale
          ON client.nb = quantity_sale.nb)
    INNER JOIN wine_sale
    ON wine_sale.nv = quantity_sale.nv AND C.NB = client.nb
    WHERE quantity_sale.qte NOT NULL
)

Done.
Done.

[]

In [9]:
# Test
%sql SELECT * FROM buveurs_asec ORDER BY nb;

Done.

[(11, 'Breton', 'Andre', 'petit'),
 (13, 'Barthes', 'Roland', 'moyen'),
 (16, 'Balzac', 'Honore de', 'moyen'),
 (18, 'Celine', 'Louis Ferdinand', 'gros'),
 (20, 'Chateaubriand', 'Francois-Rene de', 'moyen'),
 (21, 'Corbiere', 'Tristan', 'petit'),
 (23, 'Corneille', 'Pierre', 'petit'),
 (25, 'Char', 'Rene', 'petit'),
 (27, 'Dumas', 'Alexandre', 'gros'),
 (29, 'Fournier', 'Alain', 'petit'),
 (32, 'Eluard', 'Paul', 'moyen'),
 (34, 'Mauriac', 'Francois', 'petit'),
 (35, 'Fromentin', 'Eugene', 'gros'),
 (36, 'Maurois', 'Andre', 'petit'),
 (37, 'Freud', 'Sigmund', 'petit'),
 (39, 'Montesquieu', None, 'gros'),
 (42, 'Goethe', 'Johann Wolfgang von', 'moyen'),
 (43, 'Musset', 'Alfred de', 'gros'),
 (46, 'Hugo', 'Victor', 'moyen'),
 (47, 'Gary', 'Romain', 'petit'),
 (51, 'Lafargue', 'Paul', 'petit'),
 (53, 'Lamartine', 'Alphonse de', 'gros'),
 (54, 'Aurele', 'Marc', 'petit'),
 (55, 'Michelet', 'Jules', 'gros'),
 (56, 'Nerval', 'Gerard de', 'petit'),
 (57, 'Marx', 'Karl', 'gros'),
 (59, 'Nietzsche', 'Friedrich', 'petit'),
 (63, 'Maupassant', 'Guy de', 'petit'),
 (64, 'Platon', None, 'gros'),
 (65, 'Pascal', 'Blaise', 'petit'),
 (66, 'Perec', 'Georges', 'gros'),
 (67, 'Nin', 'Anais', 'petit'),
 (68, 'Prevert', 'Jacques', 'gros'),
 (69, 'Queneau', 'Raymond', 'petit'),
 (70, 'Paulhan', 'Jean', 'gros'),
 (71, 'Radiguet', 'Raymond', 'petit'),
 (72, 'Rabelais', 'Francois', 'gros'),
 (73, 'Poe', 'Allan Edgard', 'moyen'),
 (74, 'Rimbaud', 'Arthur', 'petit'),
 (76, 'Racine', 'Jean', 'gros'),
 (77, 'Rousseau', 'Jean-Jacques', 'petit'),
 (78, 'Sandier', 'Jules', 'moyen'),
 (79, 'Sade', 'Donatien Alphonse Fran¿¿s de', 'gros'),
 (81, 'Sartre', 'Jean-Paul', 'gros'),
 (83, 'Sophocle', None, 'gros'),
 (84, 'Sue', 'Eugene', 'moyen'),
 (85, 'Segalen', 'Victor', 'petit'),
 (86, 'Saint Exupery', 'Antoine de', 'gros'),
 (87, 'Segur', 'Comtesse de', 'gros'),
 (88, 'Shakespeare', 'William', 'petit'),
 (89, 'Stendhal', None, 'petit'),
 (90, 'Vian', 'Boris', 'petit'),
 (91, 'Verlaine', 'Paul', 'gros'),
 (93, 'Virgile', None, 'gros'),
 (95, 'Zorn', 'Fritz', 'moyen'),
 (98, 'Maturin', 'Robert', 'gros'),
 (99, 'Cesar', 'Jules', 'gros')]

__1.3__ Create the view 'buveurs_achats' complementary to the previous one.

In [10]:
%%sql
DROP VIEW IF EXISTS buveurs_achats;
CREATE VIEW buveurs_achats AS
SELECT c.nb, C.nom, C.prenom, C.type 
FROM client AS C
WHERE NB NOT NULL AND EXISTS(
    SELECT client.nb
    FROM (client INNER JOIN quantity_sale
          ON client.nb = quantity_sale.nb)
    INNER JOIN wine_sale
    ON wine_sale.nv = quantity_sale.nv AND C.NB = client.nb
    WHERE quantity_sale.qte NOT NULL
)

Done.
Done.

[]

In [11]:
# Test
%sql SELECT * FROM buveurs_achats ORDER BY nb;

Done.

[(1, 'Aristote', None, 'petit'),
 (2, 'Artaud', 'Antonin', 'moyen'),
 (3, 'Aron', 'Raymond', 'gros'),
 (4, 'Apollinaire', 'Guillaume', 'moyen'),
 (5, 'Audiberti', 'Jacques', 'petit'),
 (6, 'Arrabal', 'Fernando', 'gros'),
 (7, 'Anouilh', 'Jean', 'moyen'),
 (8, 'Aragon', 'Louis', 'gros'),
 (9, 'Ajar', 'Emile', 'petit'),
 (10, 'Andersen', 'Yann', 'gros'),
 (12, 'Bataille', 'Georges', 'moyen'),
 (14, 'Bory', 'Jean Louis', 'gros'),
 (15, 'Baudelaire', 'Charles', 'petit'),
 (17, 'Camus', 'Albert', 'petit'),
 (19, 'Ciceron', None, 'gros'),
 (22, 'Cocteau', 'Jean', 'gros'),
 (24, 'Courrier', 'Paul Louis', 'moyen'),
 (26, 'Diderot', 'Denis', 'moyen'),
 (28, 'Dostoievsky', 'Fiodor', 'gros'),
 (30, 'La Fontaine', 'Jean de', 'petit'),
 (31, 'Dante', None, 'gros'),
 (33, 'Flaubert', 'Gustave', 'moyen'),
 (38, 'Montaigne', 'Michel de', 'petit'),
 (40, 'Moliere', None, 'petit'),
 (41, 'Gauthier', 'Theophile', 'petit'),
 (44, 'Gide', 'Andre', 'petit'),
 (45, 'Giono', 'Jean', 'petit'),
 (48, 'Hardy', 'Thomas', 'moyen'),
 (49, 'Kafka', 'Franz', 'petit'),
 (50, 'Lautreamont', None, 'moyen'),
 (52, 'Carroll', 'Lewis', 'petit'),
 (58, 'Marivaux', 'Pierre Carlet de Chamblain de', 'gros'),
 (60, 'Ovide', None, 'gros'),
 (61, 'Mallarme', 'Stephane', 'petit'),
 (62, 'Proust', 'Marcel', 'moyen'),
 (75, 'Ronsard', 'Pierre', 'moyen'),
 (80, 'Sand', 'Georges', 'petit'),
 (82, 'Roussel', 'Rene', 'petit'),
 (92, 'Verne', 'Jules', 'petit'),
 (94, 'Zola', 'Emile', 'moyen'),
 (96, 'Wilde', 'Oscar', 'petit'),
 (97, 'Vigny', 'Alfred de', 'petit'),
 (100, 'Woolf', 'Virginia', 'petit')]

__1.4__ Create the view 'q83pl' (LIEU, CRU, QTE_BUE) that provides by LIEU and CRU the total quantities bought in 1983 by all the clients (buveurs).

In [51]:
%%sql
DROP VIEW IF EXISTS q83pl;
CREATE VIEW q83pl AS
SELECT LIEU.LIEU, wine_sale.CRU,  SUM(quantity_sale.qte) AS QTE_BUE
FROM (quantity_sale 
          INNER JOIN lieu
          ON lieu.lieu = quantity_sale.lieu)
    INNER JOIN wine_sale
    ON wine_sale.nv = quantity_sale.nv
WHERE strftime('%Y', quantity_sale.dates) = '1983'
GROUP BY quantity_sale.LIEU, wine_sale.cru

Done.
Done.

[]

In [52]:
# Test
%sql SELECT * FROM q83pl;

Done.

[('CAEN', 'Seyssel', 3),
 ('LILLE', 'Pommard', 5),
 ('LYON', 'Beaujolais Villages', 10),
 ('LYON', 'Julienas', 2),
 ('PARIS', 'Beaujolais Primeur', 4),
 ('PARIS', 'Coteaux du Tricastin', 1),
 ('PARIS', 'Pouilly Vinzelles', 3),
 ('RENNES', 'Mercurey', 1),
 ('ROCQUENCOURT', 'Beaujolais Villages', 260),
 ('ROCQUENCOURT', 'Saint Amour', 80)]

__1.5__ Can we define the same view with ascending order over the attribute QTE? Provide an explanation for your answer.

Answer: No, we can not use the attribute qte to sort the view, beacuse if the results qte_but come from le sum of serverl line, we don't know which line they use. So we can not get the results we want.
But we can use qte_bue to sort our view.

___
# PART II: UPDATE DATABASE CONTENT

The syntax for the Update statement is:

```sql
UPDATE table_name
SET column1 = value1, column2 = value2...., columnN = valueN
WHERE [condition];
```

The syntax for the Insert statement is:

```sql
INSERT INTO TABLE_NAME [(column1, column2, column3,...columnN)]  
VALUES (value1, value2, value3,...valueN);
```


Database updates are commited automatically in Jupyter/Python. _Transactions_ are an option to control and reverse changes. Additionally we can just reload a backup of the database (NOT an option in deployed systems)

__Note:__ Different to other Database Management Systems, SQLite views are read-only and so you may not execute a DELETE, INSERT or UPDATE statement on a view.

__2.1__ Create a table 'RBB' with the same schema as 'bons_buveurs' which contains the tuples selected from 'bons_buveurs'

In [15]:
%%sql
DROP TABLE IF EXISTS RBB;
CREATE TABLE RBB AS
SELECT *  
FROM bons_buveurs

Done.
Done.

[]

In [16]:
# Test
%sql SELECT * FROM RBB;

Done.

[(13, 'Barthes', 'Roland', 'moyen'),
 (16, 'Balzac', 'Honore de', 'moyen'),
 (18, 'Celine', 'Louis Ferdinand', 'gros'),
 (20, 'Chateaubriand', 'Francois-Rene de', 'moyen'),
 (27, 'Dumas', 'Alexandre', 'gros'),
 (32, 'Eluard', 'Paul', 'moyen'),
 (35, 'Fromentin', 'Eugene', 'gros'),
 (39, 'Montesquieu', None, 'gros'),
 (42, 'Goethe', 'Johann Wolfgang von', 'moyen'),
 (43, 'Musset', 'Alfred de', 'gros'),
 (46, 'Hugo', 'Victor', 'moyen'),
 (53, 'Lamartine', 'Alphonse de', 'gros'),
 (55, 'Michelet', 'Jules', 'gros'),
 (57, 'Marx', 'Karl', 'gros'),
 (64, 'Platon', None, 'gros'),
 (66, 'Perec', 'Georges', 'gros'),
 (68, 'Prevert', 'Jacques', 'gros'),
 (70, 'Paulhan', 'Jean', 'gros'),
 (72, 'Rabelais', 'Francois', 'gros'),
 (73, 'Poe', 'Allan Edgard', 'moyen'),
 (76, 'Racine', 'Jean', 'gros'),
 (78, 'Sandier', 'Jules', 'moyen'),
 (79, 'Sade', 'Donatien Alphonse Fran¿¿s de', 'gros'),
 (81, 'Sartre', 'Jean-Paul', 'gros'),
 (83, 'Sophocle', None, 'gros'),
 (84, 'Sue', 'Eugene', 'moyen'),
 (86, 'Saint Exupery', 'Antoine de', 'gros'),
 (87, 'Segur', 'Comtesse de', 'gros'),
 (91, 'Verlaine', 'Paul', 'gros'),
 (93, 'Virgile', None, 'gros'),
 (95, 'Zorn', 'Fritz', 'moyen'),
 (98, 'Maturin', 'Robert', 'gros'),
 (99, 'Cesar', 'Jules', 'gros'),
 (2, 'Artaud', 'Antonin', 'moyen'),
 (48, 'Hardy', 'Thomas', 'moyen'),
 (7, 'Anouilh', 'Jean', 'moyen'),
 (8, 'Aragon', 'Louis', 'gros'),
 (50, 'Lautreamont', None, 'moyen'),
 (3, 'Aron', 'Raymond', 'gros'),
 (4, 'Apollinaire', 'Guillaume', 'moyen'),
 (58, 'Marivaux', 'Pierre Carlet de Chamblain de', 'gros'),
 (60, 'Ovide', None, 'gros'),
 (10, 'Andersen', 'Yann', 'gros'),
 (6, 'Arrabal', 'Fernando', 'gros'),
 (62, 'Proust', 'Marcel', 'moyen'),
 (75, 'Ronsard', 'Pierre', 'moyen'),
 (26, 'Diderot', 'Denis', 'moyen'),
 (28, 'Dostoievsky', 'Fiodor', 'gros'),
 (22, 'Cocteau', 'Jean', 'gros'),
 (24, 'Courrier', 'Paul Louis', 'moyen'),
 (12, 'Bataille', 'Georges', 'moyen'),
 (14, 'Bory', 'Jean Louis', 'gros'),
 (19, 'Ciceron', None, 'gros'),
 (33, 'Flaubert', 'Gustave', 'moyen'),
 (31, 'Dante', None, 'gros'),
 (94, 'Zola', 'Emile', 'moyen')]

__2.2__ Update the table you used to create 'bons_buveurs': Change the 'type' to 'gros' if the total of quantities bought is over 100.

Find the instances to update (schema may be different from the one in your table)

In [17]:
%%sql
SELECT client.nb AS NB, client.nom AS NOM, client.prenom AS PRENOM, client.type AS TYPE , SUM(quantity_sale.qte) AS total
FROM (client INNER JOIN quantity_sale 
             ON client.nb = quantity_sale.nb
             INNER JOIN wine_sale
             ON wine_sale.nv = quantity_sale.nv)
             AS B
             GROUP BY B.NB
HAVING SUM(quantity_sale.qte) > 100 AND type!='gros'

Done.

[(2, 'Artaud', 'Antonin', 'moyen', 583),
 (5, 'Audiberti', 'Jacques', 'petit', 113),
 (9, 'Ajar', 'Emile', 'petit', 140),
 (44, 'Gide', 'Andre', 'petit', 171)]

Update instances

In [18]:
%%sql
Update client
SET type = 'gros'
WHERE client.NB in (
                    SELECT client.NB
                    FROM  (client INNER JOIN quantity_sale 
                     ON client.nb = quantity_sale.nb)
                     INNER JOIN wine_sale
                     ON wine_sale.nv = quantity_sale.nv
                GROUP BY client.NB
                HAVING SUM(quantity_sale.qte) >100 AND client.type != 'gros'
)

4 rows affected.

[]

__2.3__ Compare the content of _table_ 'RBB' and the _view_ 'bons_buveurs' after the update. What differences do you see? Explain

Answer:  When we update the Table client, the view bons_buveurs have also been update. But the content of table 'RBB' remaine. So types of four clients have changed.

In [30]:
%%sql
SELECT * 
FROM bons_buveurs
EXCEPT
Select *
FROM RBB

Done.

[(2, 'Artaud', 'Antonin', 'gros'),
 (5, 'Audiberti', 'Jacques', 'gros'),
 (9, 'Ajar', 'Emile', 'gros'),
 (44, 'Gide', 'Andre', 'gros')]

__2.4__ Create a table 'RBA' with the same schema as 'buveurs_asec' which contains the tuples selected from 'buveurs_asec'

In [31]:
%%sql
DROP TABLE IF EXISTS RBA;
CREATE TABLE RBA AS
SELECT *  
FROM buveurs_asec

Done.
Done.

[]

In [32]:
# Test
%sql SELECT * FROM RBA

Done.

[(11, 'Breton', 'Andre', 'petit'),
 (13, 'Barthes', 'Roland', 'moyen'),
 (16, 'Balzac', 'Honore de', 'moyen'),
 (18, 'Celine', 'Louis Ferdinand', 'gros'),
 (20, 'Chateaubriand', 'Francois-Rene de', 'moyen'),
 (21, 'Corbiere', 'Tristan', 'petit'),
 (23, 'Corneille', 'Pierre', 'petit'),
 (25, 'Char', 'Rene', 'petit'),
 (27, 'Dumas', 'Alexandre', 'gros'),
 (29, 'Fournier', 'Alain', 'petit'),
 (32, 'Eluard', 'Paul', 'moyen'),
 (34, 'Mauriac', 'Francois', 'petit'),
 (35, 'Fromentin', 'Eugene', 'gros'),
 (36, 'Maurois', 'Andre', 'petit'),
 (37, 'Freud', 'Sigmund', 'petit'),
 (39, 'Montesquieu', None, 'gros'),
 (42, 'Goethe', 'Johann Wolfgang von', 'moyen'),
 (43, 'Musset', 'Alfred de', 'gros'),
 (46, 'Hugo', 'Victor', 'moyen'),
 (47, 'Gary', 'Romain', 'petit'),
 (51, 'Lafargue', 'Paul', 'petit'),
 (53, 'Lamartine', 'Alphonse de', 'gros'),
 (54, 'Aurele', 'Marc', 'petit'),
 (55, 'Michelet', 'Jules', 'gros'),
 (56, 'Nerval', 'Gerard de', 'petit'),
 (57, 'Marx', 'Karl', 'gros'),
 (59, 'Nietzsche', 'Friedrich', 'petit'),
 (63, 'Maupassant', 'Guy de', 'petit'),
 (64, 'Platon', None, 'gros'),
 (65, 'Pascal', 'Blaise', 'petit'),
 (66, 'Perec', 'Georges', 'gros'),
 (67, 'Nin', 'Anais', 'petit'),
 (68, 'Prevert', 'Jacques', 'gros'),
 (69, 'Queneau', 'Raymond', 'petit'),
 (70, 'Paulhan', 'Jean', 'gros'),
 (71, 'Radiguet', 'Raymond', 'petit'),
 (72, 'Rabelais', 'Francois', 'gros'),
 (73, 'Poe', 'Allan Edgard', 'moyen'),
 (74, 'Rimbaud', 'Arthur', 'petit'),
 (76, 'Racine', 'Jean', 'gros'),
 (77, 'Rousseau', 'Jean-Jacques', 'petit'),
 (78, 'Sandier', 'Jules', 'moyen'),
 (79, 'Sade', 'Donatien Alphonse Fran¿¿s de', 'gros'),
 (81, 'Sartre', 'Jean-Paul', 'gros'),
 (83, 'Sophocle', None, 'gros'),
 (84, 'Sue', 'Eugene', 'moyen'),
 (85, 'Segalen', 'Victor', 'petit'),
 (86, 'Saint Exupery', 'Antoine de', 'gros'),
 (87, 'Segur', 'Comtesse de', 'gros'),
 (88, 'Shakespeare', 'William', 'petit'),
 (89, 'Stendhal', None, 'petit'),
 (90, 'Vian', 'Boris', 'petit'),
 (91, 'Verlaine', 'Paul', 'gros'),
 (93, 'Virgile', None, 'gros'),
 (95, 'Zorn', 'Fritz', 'moyen'),
 (98, 'Maturin', 'Robert', 'gros'),
 (99, 'Cesar', 'Jules', 'gros')]

__2.5__ Insert a tuple (101, 'your last name', 'your first name', 'your type of purchases(petit, moyen, or gros)') to 'RBA'

In [36]:
%%sql
INSERT INTO RBA
VALUES (101, 'ZHU', 'Fangda', 'petit') ;

1 rows affected.

[]

In [37]:
# Test
%sql SELECT * FROM RBA

Done.

[(11, 'Breton', 'Andre', 'petit'),
 (13, 'Barthes', 'Roland', 'moyen'),
 (16, 'Balzac', 'Honore de', 'moyen'),
 (18, 'Celine', 'Louis Ferdinand', 'gros'),
 (20, 'Chateaubriand', 'Francois-Rene de', 'moyen'),
 (21, 'Corbiere', 'Tristan', 'petit'),
 (23, 'Corneille', 'Pierre', 'petit'),
 (25, 'Char', 'Rene', 'petit'),
 (27, 'Dumas', 'Alexandre', 'gros'),
 (29, 'Fournier', 'Alain', 'petit'),
 (32, 'Eluard', 'Paul', 'moyen'),
 (34, 'Mauriac', 'Francois', 'petit'),
 (35, 'Fromentin', 'Eugene', 'gros'),
 (36, 'Maurois', 'Andre', 'petit'),
 (37, 'Freud', 'Sigmund', 'petit'),
 (39, 'Montesquieu', None, 'gros'),
 (42, 'Goethe', 'Johann Wolfgang von', 'moyen'),
 (43, 'Musset', 'Alfred de', 'gros'),
 (46, 'Hugo', 'Victor', 'moyen'),
 (47, 'Gary', 'Romain', 'petit'),
 (51, 'Lafargue', 'Paul', 'petit'),
 (53, 'Lamartine', 'Alphonse de', 'gros'),
 (54, 'Aurele', 'Marc', 'petit'),
 (55, 'Michelet', 'Jules', 'gros'),
 (56, 'Nerval', 'Gerard de', 'petit'),
 (57, 'Marx', 'Karl', 'gros'),
 (59, 'Nietzsche', 'Friedrich', 'petit'),
 (63, 'Maupassant', 'Guy de', 'petit'),
 (64, 'Platon', None, 'gros'),
 (65, 'Pascal', 'Blaise', 'petit'),
 (66, 'Perec', 'Georges', 'gros'),
 (67, 'Nin', 'Anais', 'petit'),
 (68, 'Prevert', 'Jacques', 'gros'),
 (69, 'Queneau', 'Raymond', 'petit'),
 (70, 'Paulhan', 'Jean', 'gros'),
 (71, 'Radiguet', 'Raymond', 'petit'),
 (72, 'Rabelais', 'Francois', 'gros'),
 (73, 'Poe', 'Allan Edgard', 'moyen'),
 (74, 'Rimbaud', 'Arthur', 'petit'),
 (76, 'Racine', 'Jean', 'gros'),
 (77, 'Rousseau', 'Jean-Jacques', 'petit'),
 (78, 'Sandier', 'Jules', 'moyen'),
 (79, 'Sade', 'Donatien Alphonse Fran¿¿s de', 'gros'),
 (81, 'Sartre', 'Jean-Paul', 'gros'),
 (83, 'Sophocle', None, 'gros'),
 (84, 'Sue', 'Eugene', 'moyen'),
 (85, 'Segalen', 'Victor', 'petit'),
 (86, 'Saint Exupery', 'Antoine de', 'gros'),
 (87, 'Segur', 'Comtesse de', 'gros'),
 (88, 'Shakespeare', 'William', 'petit'),
 (89, 'Stendhal', None, 'petit'),
 (90, 'Vian', 'Boris', 'petit'),
 (91, 'Verlaine', 'Paul', 'gros'),
 (93, 'Virgile', None, 'gros'),
 (95, 'Zorn', 'Fritz', 'moyen'),
 (98, 'Maturin', 'Robert', 'gros'),
 (99, 'Cesar', 'Jules', 'gros'),
 (101, 'your last name', 'your first name', 'your type of purchases(petit, moyen, or gros)'),
 (101, 'ZHU', 'Fangda', 'petit')]

__2.6__ Compare the content of _table_ 'RBA' and the _view_ 'buveurs_asec'. What differences do you see? Explain

Answer: The view "buveurs_asec" doesn't change. The information add only in the table RBA

In [38]:
%%sql

SELECT *
FROM RBA
EXCEPT
SELECT *
FROM BUVEURS_ASEC

Done.

[(101, 'ZHU', 'Fangda', 'petit'),
 (101, 'your last name', 'your first name', 'your type of purchases(petit, moyen, or gros)')]

___
# PART III: Design the database schema for posts in a Social Network

In this section you need to design the database schema for a social network app of a new startup:

The new social network will contain users, where each user will have a name, a nickname, an email, date of birth, and an address (Street, City, State, Country, Postal Code). Users can be friends of other users, and can publish posts. Each post can contain a text, date and attachment. Posts can be either original posts or replies so the app needs to handle both scenarios. When users log in, the app needs to display the posts of their friends.

__3.1__ Write and explain the design of the relations of your database

Answer:
I think We should use three table to save all the information in three table. First table contains the basic information about user as following:
+------------------------------------------------+
|                 USER                           |
+------------------------------------------------+
| USER_ID:    ID of user distributed by system  |
| NAME:        Name of user                      |
| NICKNAME:    Nike Name of user                 |
| EMAIL:       address email of user             |
| DATE_BIRTH:  date of both                      |  
| STREET:      Address
| CITY:        Address
| STATE:       Address
| COUNTRY:     Address
| POSTAL:     
+------------------------------------------------+

We know taht the diffrent user can have the same name or Nickname. So we can not use name or nickname as a key of this table.So we need a id to identify the user.All the information about address are optional, the user can just give a parte of information about it. We can not predict the function dependency  enter the terme of address. So we don't splite address in a new table.

The second table contains the information about post
+----------------------------------------+
|                   POST                 |
+----------------------------------------+
| or_ID:      ID of POST                   |
| OWN_ID:     ID of owner                |
| to_ID:      ID of  post replied
| DATE:       date of creation           |
| CONTENT:    text of post               |
| ATTACH:     attachement of post        |  
+----------------------------------------+
    When we create a post, the system will distribute a or_id for it. The own-id allow us to identify the creator of the post. If the post is original post, the to_id will be NULL. If the post is a repliy, the to_id is the or_id of post replied. In our context, we suppose each post have just only one attachement. So we use url of attement as the value of this attribute. If not, we have to create a new table to save all the infomation about attachement.


The third table contains the information about relation
+----------------------------------------+
|               relation                 |
+----------------------------------------+
| OWN_ID_1:    id of usr 1               |
| OWN_ID_2:    id of usr 2               |
+----------------------------------------+
In this table we use the two attribute as the key. We know that there aren't order in the relaitionship. Here, we think if user A adds user B in his friend list firstly. Then We insert (id of user 1, id of user 1) into the table.

__3.2__ Write a view to retrieve the posts to display when a user logs in. Consider that some users may have a lot of friends and you need to limit the number of post to display. How would you select relevant posts to display first? What kind of information would you use/add in the database for this purpose? Explain your answer.

__Note:__ Limiting the number of posts just by count is too simplistic, the user could be missing something interesting to him/her.

Answer:
I think the  achievement of intimacy can be dicide by the number of interration enter the users. If user A replies the post of user B,  achievement of intimacy from A to B will increase. 
And also, if the achivement of intimacy can also decide by the number of same friends between tow user.So firstly, we can create a view intimacy for this  user.

CREATE VIEW nb_reply FROM
SELECT p1.own_id, count(p1.post_id)
FROM POST AS P1 
GROUP BY p1.own_id
HAVING post.post_id in( Select P2.to_id
                        FROM POST.P2
                        where P2.own_id = #user_id#
                        ）
We can use the same method to get the number of the same friend.

With the two view, we can get a table achievement of intimacy for each user in the friend list. With this achivememnt, we can show just show closest friend's post.